@model Jogador
@{
    ViewData["Title"] = "Jogadores";
}

<section class="banner_cadastro" id="banner">
    <h1>Cadastro de @ViewData["Title"]</h1>
</section>

<section class="cadastro">
    <div class="grid espaçamento_section">

        <form class="caixa_cadastro" method="POST" action='@Url.Action("Cadastrar")'>

            <div class="item_cadastro">
                <label class="letter_texto">ID</label>
                <input type="text" name="IdJogador">
            </div>

            <div class="item_cadastro">
                <label class="letter_texto">Nome</label>
                <input type="text" name="Nome">
            </div>

            <div class="item_cadastro">
                <label class="letter_texto">Email</label>
                <input type="text" name="Email">
            </div>

            <div class="item_cadastro">
                <label class="letter_texto">Senha</label>
                <input type="password" name="Senha">
            </div>

            <div class="item_cadastro_equipe">
                <label class="letter_texto">ID Equipe </label>
                <input type="text" name="IdEquipe">
            </div>

            <button type="submit">Cadastrar</button>

        </form>
        <div class="lista_jogadores">
            <table class="letter_texto">
                <thead class="linha1">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>ID Equipe</th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var Jogador in ViewBag.Jogadores)
                    {
                        <tr class="linha2">
                            <td>@Jogador.IdJogador</td>
                            <td>@Jogador.Nome</td>
                            <td>@Jogador.Email</td>
                            <td>@Jogador.IdEquipe</td>
                            <td><a asp-area="" asp-controller="Jogador" asp-action="Excluir"
                                asp-route-id="@Jogador.IdJogador"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</section>
